<div ng-controller="productRowCtrl">
    <div class="mb-6 uppercase text-2xl text-center font-normal">SALE HẾT ĐÓN TẾT</div>
    <img class="rounded-t-lg" alt=""
         src="https://upload.lixibox.com/system/theme_sections/banners/000/000/688/original/Halio%281%29.png"
         style="display: block; width: 100%; height: auto;">
    <div class="grid grid-cols-5 p-10 gap-4 bg-[#920E0C] h-fit rounded-b-lg">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="p-2">
                <a href="/product-detail">
                    <img class="rounded-lg aspect-[4/3] mb-3"
                         src="https://cdn.shopify.com/s/files/1/0070/7032/files/universal_20product_20code.png?format=jpg&quality=90&v=1697911576&width=1024"
                         alt=""/>
                </a>
                <a href="/product-detail">
                    <h5 class="mb-2 text-sm capitalize tracking-tight text-gray-900 dark:text-white">Noteworthy technology
                        acquisitions 2021</h5>
                </a>
                <div class="font-bold text-gray-700 dark:text-gray-400">2.375.000 ₫</div>
                <div class="mb-3 font-normal text-sm text-gray-700 dark:text-gray-400">trị giá (3.470.000 ₫)</div>
                <button
                   class="flex w-full justify-center items-center px-3 py-2 text-sm font-medium text-center text-white bg-[#CB292B] hover:bg-[#920E0C] rounded-lg focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    <svg class="rtl:rotate-180 w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                         fill="none" viewBox="0 0 14 10">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M1 5h12m0 0L9 1m4 4L9 9"/>
                    </svg>
                    Thêm vào giỏ
                </button>
            </div>
        </div>
    </div>
</div>