<div class="bg-[#CB292B] relative" ng-controller="categoryCtrl">
    <button ng-click="isDropdown = !isDropdown" id="dropdownNavbarLink"
            class="py-2 px-4 flex items-center justify-between w-full text-white">
        <svg class="w-4 h-4 me-2" fill="white" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M0.59420295,0 L8.39130435,0 C8.72463769,0 8.9855073,0.2608695 9,0.5942025 C9,0.92753663 8.73913039,1.18840612 8.40579705,1.18840612 L0.59420295,1.18840612 C0.260869612,1.18840612 0,0.92753663 0,0.5942025 C0,0.2608695 0.260869612,0 0.59420295,0 Z M8.39130435,7.8115939 L8.39130435,7.8115939 C8.72463769,7.8115939 8.9855073,8.0724634 9,8.4057975 C9,8.7391305 8.73913039,9 8.40579705,9 L0.59420295,9 C0.260869612,9 0,8.7391305 0,8.4057975 C0,8.0724634 0.260869612,7.8115939 0.59420295,7.8115939 L8.39130435,7.8115939 Z M8.39130435,3.89855025 L8.39130435,3.89855025 C8.72463769,3.89855025 8.9855073,4.15941975 9,4.49275388 C9,4.82608687 8.73913039,5.0869564 8.40579705,5.0869564 L0.59420295,5.0869564 C0.260869612,5.0869564 0,4.82608687 0,4.49275388 C0,4.15941975 0.260869612,3.89855025 0.59420295,3.89855025 L8.39130435,3.89855025 Z"></path>
        </svg>
        <span class="hidden md:block">Danh mục sản phẩm</span>
    </button>
    <!-- Dropdown menu -->
    <div ng-show="isDropdown" id="dropdownNavbar"
         class="absolute top-10 left-0 z-10 font-normal bg-white divide-y divide-gray-100 border w-[204px] dark:bg-gray-700 dark:divide-gray-600">
        <div class="p-2">
            <div class="font-bold">Shop gift</div>
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400">
                <li>
                    <a href="#" class="block rounded-lg px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Gifts for baby</a>
                </li>
                <li>
                    <a href="#" class="block rounded-lg px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Gifts for home</a>
                </li>
                <li>
                    <a href="#" class="block rounded-lg px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Gifts for her</a>
                </li>
                <li>
                    <a href="#" class="block rounded-lg px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Gifts for him</a>
                </li>
            </ul>
        </div>
        <div class="p-2">
            <div class="font-bold">Product</div>
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-400">
                <li>
                    <a href="#" class="block rounded-lg px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Product A</a>
                </li>
                <li>
                    <a href="#" class="block rounded-lg px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Product B</a>
                </li>
                <li>
                    <a href="#" class="block rounded-lg px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Product C</a>
                </li>
                <li>
                    <a href="#" class="block rounded-lg px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Product D</a>
                </li>
            </ul>
        </div>
    </div>
</div>