<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">{{$parent.pageTitle}}</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables
            documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="padding: 10px">
                <form>
                    <div class="form-group">
                        <label for="avatar">Avatar</label>
                        <div class="row g-3">
                            <div style="position: relative" class="col-1">
                                <button ng-click="clearAvatar()" style="position: absolute; right: 0"
                                        type="button" class="close"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <img style="width: 100px; height: 100px; object-fit: cover"
                                     ng-src="{{user.avatar}}">
                            </div>

<!--                            media modal-->
                            <div style="width: 100px; height: 100px"
                                 class="col d-flex align-items-center justify-content-center">
                                <button type="button" data-toggle="modal" data-target="#exampleModal"
                                        class="btn btn-outline-primary">
                                    Choose image
                                </button>
                                <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1"
                                     role="dialog"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Media Management</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <media-management type="image"></media-management>
                                            </div>
                                            <div class="modal-footer justify-content-between">

                                                <div><i class="fa fa-info-circle"></i> {{info}}</div>
                                                <div>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                        Cancel
                                                    </button>
                                                    <button ng-click="addImageUrl(url)" type="button"
                                                            class="btn btn-primary">OK
                                                    </button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstName">First Name<span style="color: red">*</span></label>
                            <input ng-model="user.firstName" ng-change="validateForm()" type="text" class="form-control"
                                   id="firstName">
                            <div ng-show="validate.firstName.status" style="color: red">{{validate.firstName.message}}
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastName">Last Name<span style="color: red">*</span></label>
                            <input ng-model="user.lastName" ng-change="validateForm()" type="text" class="form-control"
                                   id="lastName">
                            <div ng-show="validate.lastName.status" style="color: red">{{validate.lastName.message}}
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="username">Username<span style="color: red">*</span></label>
                            <input ng-model="user.username" ng-change="validateForm()" type="text" class="form-control"
                                   id="username">
                            <div ng-show="validate.username.status" style="color: red">{{validate.username.message}}
                            </div>

                        </div>
                        <div class="form-group col-md-4">
                            <label for="email">Email<span style="color: red">*</span></label>
                            <input ng-model="user.email" ng-change="validateForm()" type="text" class="form-control"
                                   id="email">
                            <div ng-show="validate.email.status" style="color: red">{{validate.email.message}}</div>

                        </div>
                        <div class="form-group col-md-4">
                            <label for="role">Role<span style="color: red">*</span></label>
                            <select ng-model="user.role" ng-change="validateForm()" id="role" class="form-control">
                                <option hidden value="">Choose...</option>
                                <option value="ADMIN">ADMIN</option>
                                <option value="MANAGER">MANAGER</option>
                                <option value="SUB_MANAGER">SUB_MANAGER</option>
                                <option value="CUSTOMER">CUSTOMER</option>
                            </select>
                            <div ng-show="validate.role.status" style="color: red">{{validate.role.message}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="biography">Biography</label>
                        <textarea ng-model="user.biography" rows="10" type="text" class="form-control"
                                  id="biography"
                                  placeholder="A biography is a life history written for a general audience. Some things to include in a biography are:"></textarea>
                    </div>

                    <button ng-click="saveUser(user.id)" type="submit" class="btn btn-primary">Save</button>
                    <a href="/admin/#!/users" class="btn btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>

</div>