<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form name="myForm" class="user" novalidate>
                                    <div class="form-group">
                                        <input
                                                id="username"
                                                class="form-control form-control-user"
                                                type="text"
                                                name="username"
                                                ng-model="username"
                                                placeholder="Username*"
                                                required
                                        >
                                        <div
                                                ng-show="myForm.username.$error.required && myForm.username.$touched"
                                                style="color: red">
                                            <i class="fa fa-exclamation-circle"></i> username or email is not NULL or
                                            EMPTY!
                                        </div>
                                        <div
                                                ng-show="myForm.username.$error.minlength"
                                                style="color: red">
                                            <i class="fa fa-exclamation-circle"></i> username or email length must be
                                            equal or greater than
                                            5!
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input
                                                id="password"
                                                class="form-control form-control-user"
                                                name="password"
                                                ng-model="password" type="password"
                                                placeholder="Password*"
                                                required
                                        >
                                        <div
                                                ng-show="myForm.password.$error.required && myForm.password.$touched"
                                                style="color: red">
                                            <i class="fa fa-exclamation-circle"></i> password or email is not NULL or
                                            EMPTY!
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember
                                                Me</label>
                                        </div>
                                    </div>
                                    <button ng-click="login({email: username, password: password})"
                                            class="btn btn-primary btn-user btn-block">
                                        Login
                                    </button>
                                    <hr>
                                    <button ng-click="socialLogin('google')" class="btn btn-google btn-user btn-block">
                                        <i class="fab fa-google fa-fw"></i> Login with Google
                                    </button>
                                    <button ng-click="socialLogin('github')" class="btn btn-dark btn-user btn-block">
                                        <i class="fab fa-github fa-fw"></i> Login with Github
                                    </button>
                                    <button class="btn btn-facebook btn-user btn-block">
                                        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="/auth/#!/forgot-password">Forgot Password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="/auth/#!/sign-up">Create an Account!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
