<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Product Lists</h1>
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
                                                                   href="https://datatables.net">official DataTables
            documentation</a>.</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">DataTables</h6>
                <a href="/admin/#!/add-product" class="btn btn-primary">Add new</a>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive" style="padding: 10px">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Thumbnail</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Description</th>
                        <th>creationAt</th>
                        <th>updatedAt</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Thumbnail</th>
                        <th>Product Name</th>
                        <th>Category</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Description</th>
                        <th>creationAt</th>
                        <th>updatedAt</th>
                        <th>Action</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr ng-repeat="product in products">
                        <td>{{ product.id }}</td>
                        <td><img style="height: 100px; width: 70px; object-fit: cover" ng-src="{{ product.images[0] }}">
                        </td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.productType }}</td>
                        <td style="white-space: nowrap">{{ product.price | currency : "": 0}} ₫</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.createdAt | date : format: timezone}}</td>
                        <td>{{ product.updatedAt | date : format: timezone}}</td>
                        <td>
                            <a href="/admin/#!/product-detail/{{product.id}}" class="btn btn-primary mb-2">Edit
                            </a>
                            <button type="button" class="btn btn-danger" ng-click="deleteProduct(product.id)">Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>